* {
  margin: 0;
  padding: 0;
}
/* .content-on-img > *:first-child {
  padding-top: 0;
} */
@font-face {
    font-family: "Inter";
    src: url("fonts/InterVariable.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "InterItalic";
    src: url("fonts/InterVariable-Italic.ttf");
    font-weight: italic;
}

@font-face {
    font-family: "InterBold";
    src: url("fonts/InterVariable.ttf");
    font-weight: bold;
}

body {
    background-image: url("images/mtns-van.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Inter";
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
}

.who-am-i {
    text-align: center;
}

.who-am-i hr {
    border: 0.5px dashed #444545;
    width: 80%;
    margin: auto
}

header {
    color: #FF6392;
    font-family: "Inter";
    font-size: 2rem;
    padding: 0rem 0rem 4rem 0rem;
    text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
    background-color: rgba(249, 249, 249, 0.75);
    color: #FF6392;
    padding: 4rem 6rem;
    border-radius: 8px;
    display: inline-block;
}

.content-on-img {
    position: relative;
    padding: 2rem;
    flex: 1;
}

.content-on-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(206, 241, 255, 0.9);
  z-index: 0;
  flex: 1;
}

.content-on-img > * {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: auto;
  flex: 1;
}

nav {
    font-family: "InterBold";
    background-color: rgba(206, 241, 255, 0.75);
}

nav a {
    color: #FFA478;
    padding: 1rem;
    margin: 0rem;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    color: #FF6392;
    background-color: rgba(206, 241, 255);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.card {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  padding: 2rem;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

section, h2 {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.info {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #FF6392;
  color: #f9f9f9;
}

body > * {
  position: relative;
  z-index: 1;
}

::selection {
    background: rgba(255, 164, 120, 0.5);
}